pipeline/MoveFlag.json
{
	"name": "MoveFlag",
	"properties": {
		"description": "2023/03/14",
		"activities": [
			{
				"name": "BuscaFlag",
				"description": "Get the list of file",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Existe",
						"value": "true"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "input",
						"type": "DatasetReference",
						"parameters": {
							"Subcarpeta": {
								"value": "@concat(formatDateTime(utcnow(),'yyyyMMdd'),'.flg')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "BuscaFlag",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('existe') ",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ForEachFile",
							"description": "Iterate each file, and move them one by one.",
							"type": "ForEach",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('FilterFiles').output.value",
									"type": "Expression"
								},
								"batchCount": 20,
								"activities": [
									{
										"name": "CopyAFile",
										"description": "Copy a file from the source store to the destination store.",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobStorageReadSettings",
													"recursive": true,
													"wildcardFolderPath": {
														"value": "@formatDateTime(utcnow(),'yyyyMMdd')",
														"type": "Expression"
													},
													"wildcardFileName": "*",
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												},
												"recursive": false
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".csv"
												}
											},
											"enableStaging": false,
											"dataIntegrationUnits": 0,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "input",
												"type": "DatasetReference",
												"parameters": {
													"Subcarpeta": {
														"value": "@formatDateTime(utcnow(),'yyyMMdd')",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Output",
												"type": "DatasetReference",
												"parameters": {
													"Subcarpeta": {
														"value": "@formatDateTime(utcnow(),'yyyMMdd')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "DeleteAFile",
										"description": "Delete a file from the source store",
										"type": "Delete",
										"dependsOn": [
											{
												"activity": "CopyAFile",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "input",
												"type": "DatasetReference",
												"parameters": {
													"Subcarpeta": {
														"value": "@formatDateTime(utcnow(),'yyymmdd')",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"existe": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"annotations": []
	}
}